<div class="row upper__buttons">
  <div class="col-auto ml-auto">
    <%= link_to t("buttons.back"), issues_path, class: 'btn btn-outline-dark button__middle' %>
    <%= link_to t("buttons.edit"), edit_issue_path(@issue), class: 'btn btn-primary button__middle' %> |
  </div>
</div>
