// Place all the styles related to the issues controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.table_th_sm {
    width: 100px;
}

.table_th_lg {
    width: 300px;
}

.table_th_edit {
    width: 130px;
}
